<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet">  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/CSS/picture.css">
<div class="container mt-5 mb-3">
    <h1 class="flight"> Welcome to <%= collection[0] %></h1>
</div>
<div class="container mt-5 mb-3 row justify-content-center align-self-center">
  <div class="w3-content w3-section" id="picture">
    <img class="mySlides w3-animate-left" src='<%= collection[1] %>' id="cityImage">
    <img class="mySlides w3-animate-right" src='<%= collection[2] %>' id="cityImage">
    <img class="mySlides w3-animate-left" src='<%= collection[3] %>' id="cityImage">
    <img class="mySlides w3-animate-right" src='<%= collection[4] %>' id="cityImage">
  </div>
</div>
<br><br><br>
<div class="container mt-5 mb-3">
  <div class="d-flex justify-content-center">
    <form action="/flightroutes/new">
      <button class="noselect"> </button>
    </form>
  </div>
</div>

<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 2500);    
    }
</script>
<script src="/picture.js"> </script>
    